@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #191D1E;
    color: #fff;
}
section#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    height: 100vh;
}
div.row {
    display: flex;
    /* justify-content: flex-start; */
    width: 100vw;
}
.icon{
    display: flex;
    align-items: center;
    font-size: 150px;
}
div#i-have {
    display: flex;
    background: #2D2F2F;
    flex-direction: column;
    padding: 32px 48px;
    width: 48vw;
    height: 70vh;
    font-size: 40px;
}
div#i-want {
    display: flex;
    background: #222627;
    padding: 32px 48px;
    width: 52vw;
    height: 70vh;
    font-size: 40px;
}
div.wrapper {
    display: flex;
    flex-direction: column;
}
div.currency-list {
    display: flex;
    width: 480px;
    margin-top: 48px;
    padding: 24px;
    border: 4px solid gray;
    border-radius: 8px;
}
div.currency-list img{
    margin-right: 24px;
}
div.currency-list select {
    font-size: 48px;
    width: 480px;
    background: none;
    border: none;
    color: #fff;
}
div.currency-list select option {
    background-color: #05152e;
}
h1 {
    font-size: 80px;
    text-align: center;
    margin-bottom: 100px;
}
h3 {
    font-size: 65px;
    font-weight: 500;
}
p {
    color: rgb(133, 133, 133);
}
div#submit {
    display: flex;

    margin: 160px 80px 160px 64px;

}
input[type="submit"]{
    padding: 50px;
    border-radius: 32px;
}
input[type="text"]{
    padding: 50px;
    font-size: 50px;
    margin: 100px 0 120px 0;
}